@page 
@model com.initiativec.webpages.Pages.account.IndexModel
@{
}

<div>
    <article class="Hero">
        <section>
            <h1 class="WordWrapper" id="tituloDinamico">
                Registro
            </h1>
            <p id="paragrafoDinamico" style="font-size: 2.1rem; font-weight: 300;"></p>
        </section>
      

    </article>
</div>
