@page
@model com.initiativec.webpages.Pages.Forgot_passModel
@{
}

<article class="ForgotPassword">
    <div class="PasswordForm Form animate">
        <section class="column article-section centered">
            <h2 class="WordWrapper active"><span><span>R</span><span>e</span><span>d</span><span>e</span><span>f</span><span>i</span><span>n</span><span>i</span><span>r</span></span> <span><span>s</span><span>e</span><span>n</span><span>h</span><span>a</span></span></h2>
            <p>Por favor, informe o seu endereço de e-mail</p>
        </section>
        <form>
            <article class="form-block">
                <div class="InputWrapper">
                    <article><input type="email" required="" value=""><label>Seu e-mail</label></article>
                </div>
                <div class="recaptcha-container"></div>
                <button type="submit" class="Button shadow btn Button-fat Button-primary"><span class="label">Enviar</span></button>
            </article>
        </form>
        <p class="flip"><a href="/web/20190323075006mp_/https://initiativeq.com/login">Login</a> / <a href="/web/20190323075006mp_/https://initiativeq.com/forgot_pass#sign-up">Cadastrar-se</a></p>
    </div>
    <img alt="" class="form-spacer" src="/web/20190323075006im_/https://initiativeq.com/static/media/form-spacer.7488400a.svg">
</article>