@page
@model com.initiativec.webpages.Pages.LoginModel
@{
}


<article class="Login">
    <div class="Form">
        <section class="column article-section centered">
            <h2 class="WordWrapper bottom-closer active"><span><span>L</span><span>o</span><span>g</span><span>i</span><span>n</span></span></h2>
            <div class="ActiveWayPoint animateByClass active"></div>
        </section>
        <form>
            <article class="ActiveWayPoint form-block SignUp-form animateByClass active">
                <div class="InputWrapper">
                    <article>
                        <input type="email" value="">
                        <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        <label>E-mail</label>
                    </article>
                </div>
                <div class="InputWrapper">
                    <article>
                        <input type="password" value="">
                        <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        <label>Senha</label>
                    </article>
                </div>
                <button type="submit" class="Button shadow btn Button-fat Button-primary"><span class="label">Login</span></button>
            </article>
            <div class="ActiveWayPoint or animateByClass active"><span>Ou</span></div>
            <article class="ActiveWayPoint form-block animateByClass active">
                <div class="Button shadow btn Button-google Button-fat"><span class="label">Login com o Google</span></div>
                <div class="Button shadow btn Button-facebook Button-fat"><span class="label">Login com o Facebook</span></div>
                <div class="Button shadow btn Button-twitter Button-fat"><span class="label">Login com o Twitter</span></div>
            </article>
        </form>
        <p class="flip"><span>Não é membro? <a aria-current="false" href="#sign-up">Cadastrar-se</a></span><span>Esqueceu a senha? <a aria-current="false" href="/forgot_pass">Clique aqui </a></span></p>
    </div>
    <img alt="" class="safe" src="~/media/safe-open.133cedd1.svg">
    <section class="Info column article-section centered">
        <h2>Quer saber mais?</h2>
        <div class="Info-blocks">
            <article>
                <div class="card Info-block vid">
                    <article>
                        <svg class="bg-img" width="352" height="356" viewBox="0 0 352 356" xmlns="http://www.w3.org/2000/svg">
                            <g id="Full-page" fill="none" fill-rule="evenodd">
                                <g id="Group-34" transform="translate(1 1)" stroke="#000">
                                    <g id="Group-18" stroke-linecap="round">
                                        <g id="Group-15">
                                            <path d="M131.239405,64.6415544 L130.925843,64.6415544 C129.361646,64.6415544 128.093613,63.3735218 128.093613,61.8093244 L128.093613,61.8093244 C128.093613,60.245127 129.361646,58.9770945 130.925843,58.9770945 L132.193239,58.9770945 C134.457399,58.9770945 136.292864,60.8125593 136.292864,63.0767198 L136.292864,118.211001" id="Combined-Shape" stroke-linejoin="round"></path>
                                            <path d="M128.069804,67.805386 L128.069804,67.805386 C125.165416,67.805386 122.810944,65.4509143 122.810944,62.5465263 L122.810944,61.2820192 C122.810944,57.6792631 125.731555,54.7586523 129.334311,54.7586523 L133.511533,54.7586523 C137.965157,54.7586523 141.575533,58.3690281 141.575533,62.8226523 L141.575533,118.211001" id="Combined-Shape-Copy-2" stroke-linejoin="round"></path>
                                            <path d="M198.60455,64.7226506 L198.290988,64.7226506 C196.726791,64.7226506 195.458758,63.4546181 195.458758,61.8904207 L195.458758,61.8904207 C195.458758,60.3262233 196.726791,59.0581907 198.290988,59.0581907 L199.558383,59.0581907 C201.822544,59.0581907 203.658009,60.8936555 203.658009,63.157816 L203.658009,118.292098" id="Combined-Shape-Copy-4" stroke-linejoin="round" transform="matrix(-1 0 0 1 399.117 0)"></path>
                                            <path d="M195.434949,67.8864822 L195.434949,67.8864822 C192.530561,67.8864822 190.176089,65.5320105 190.176089,62.6276225 L190.176089,61.3631154 C190.176089,57.7603594 193.0967,54.8397486 196.699456,54.8397486 L200.876678,54.8397486 C205.330302,54.8397486 208.940678,58.4501243 208.940678,62.9037486 L208.940678,118.292098" id="Combined-Shape-Copy-3" stroke-linejoin="round" transform="matrix(-1 0 0 1 399.117 0)"></path>
                                            <polyline id="Rectangle-4-Copy-17" stroke-linejoin="round" points="204.068655 50.6213064 210.250232 50.6213064 210.250232 45.3482536 119.388323 45.3482536 119.388323 50.6213064 199.420824 50.6213064"></polyline>
                                            <g id="Group-14" transform="translate(147.915 64.331)">
                                                <path d="M5.82521354,9.69101586 C7.96999794,9.69101586 9.70868923,7.95548962 9.70868923,5.81460951 C9.70868923,3.67372941 7.96999794,1.93820317 5.82521354,1.93820317 C3.68042914,1.93820317 1.94173785,3.67372941 1.94173785,5.81460951 C1.94173785,6.83455021 2.3363656,7.76248844 2.98152676,8.45459216" id="Oval-Copy-3" transform="rotate(-150 5.825 5.815)"></path>
                                                <path d="M18.4465095,9.69101586 C20.5912939,9.69101586 22.3299852,7.95548962 22.3299852,5.81460951 C22.3299852,3.67372941 20.5912939,1.93820317 18.4465095,1.93820317 C16.3017251,1.93820317 14.5630338,3.67372941 14.5630338,5.81460951 C14.5630338,6.83455021 14.9576616,7.76248844 15.6028228,8.45459216" id="Oval-Copy-10" transform="rotate(-150 18.447 5.815)"></path>
                                                <path d="M30.0969366,9.69101586 C32.241721,9.69101586 33.9804123,7.95548962 33.9804123,5.81460951 C33.9804123,3.67372941 32.241721,1.93820317 30.0969366,1.93820317 C27.9521522,1.93820317 26.2134609,3.67372941 26.2134609,5.81460951 C26.2134609,6.83455021 26.6080887,7.76248844 27.2532498,8.45459216" id="Oval-Copy-11" transform="rotate(-150 30.097 5.815)"></path>
                                            </g>
                                            <path d="M175.627018,118.116381 L175.627018,94.9252756 C175.627018,89.6737079 171.369781,85.4164712 166.118213,85.4164712 L166.118213,85.4164712 C160.866646,85.4164712 156.609409,89.6737079 156.609409,94.9252756 L156.609409,118.116381" id="Rectangle-4-Copy-33" stroke-linejoin="round"></path>
                                            <path d="M93.9884678,139.208592 L236.663577,139.208592" id="Path-3-Copy-8"></path>
                                            <path d="M233.493976,118.116381 L314.177151,118.116381" id="Path-3-Copy-34"></path>
                                            <path d="M0.0777684434,120.225603 L12.0084761,120.225603" id="Path-3-Copy-59"></path>
                                            <path d="M261.950141,111.788718 L293.346315,111.788718" id="Path-3-Copy-35"></path>
                                            <path d="M165.140761,145.536256 L331.06901,146.481662 C341.671928,146.542074 350.235389,155.154467 350.235389,165.757556 L350.235389,165.757556 C350.235389,176.343026 341.65417,184.924246 331.068699,184.924246 L243.827334,184.924246" id="Path-3-Copy-33"></path>
                                            <path d="M167.765177,184.556846 L193.956462,185.165885 C204.610373,185.413625 213.117972,194.121356 213.117972,204.778146 L213.117972,204.778146 C213.117972,215.363617 204.536752,223.944836 193.951282,223.944836 L106.709917,223.944836" id="Path-3-Copy-42" stroke-dasharray="4.608" transform="rotate(180 159.914 204.25)"></path>
                                            <path d="M211.835032,223.577436 L292.210004,224.428992 C302.827566,224.541482 311.375618,233.180578 311.375618,243.798737 L311.375618,243.798737 C311.375618,254.384207 302.794398,262.965426 292.208928,262.965426 L267.253821,262.965426" id="Path-3-Copy-43" stroke-dasharray="4.608"></path>
                                            <path d="M234.826153,261.543416 L211.70872,261.543416" id="Path-3-Copy-44" stroke-dasharray="4.608" transform="rotate(180 223.267 261.543)"></path>
                                            <path d="M158.883897,145.536256 L73.6675681,145.536256" id="Path-3-Copy-32"></path>
                                            <path d="M165.875811,117.981473 L165.875811,93.3171235" id="Path-3-Copy-24"></path>
                                            <path d="M200.741427,118.524688 L200.741427,84.0770604" id="Path-3-Copy-28"></path>
                                            <path d="M131.010195,118.524688 L131.010195,84.0770604" id="Path-3-Copy-30"></path>
                                            <path d="M109.879518,105.861252 L109.879518,35.991699" id="Path-3-Copy-36"></path>
                                            <path d="M97.2011121,104.814751 L97.2011121,27.0005135" id="Path-3-Copy-37"></path>
                                            <path d="M206.024096,118.524688 L206.024096,103.235925" id="Path-3-Copy-29"></path>
                                            <path d="M125.727525,118.524688 L125.727525,103.235925" id="Path-3-Copy-31"></path>
                                            <path d="M167.988879,106.459881 L167.988879,102.250678" id="Path-3-Copy-25"></path>
                                            <path d="M163.762743,106.459881 L163.762743,102.250678" id="Path-3-Copy-26"></path>
                                            <polyline id="Rectangle-5" stroke-linejoin="round" points="111.992586 129.662487 111.992586 125.444045 221.872104 125.444045 221.872104 127.662487"></polyline>
                                            <polyline id="Rectangle-5-Copy-2" stroke-linejoin="round" transform="matrix(1 0 0 -1 0 234.847)" points="119.630686 123.057785 17.9610751 123.057785 17.9610751 111.788718 102.161785 111.788718"></polyline>
                                            <path d="M92.8863547,129.717098 L7.28420965,129.717098" id="Rectangle-5-Copy-3" stroke-linejoin="round" transform="matrix(1 0 0 -1 0 259.434)"></path>
                                            <rect id="Rectangle-5-Copy" stroke-linejoin="round" transform="matrix(1 0 0 -1 0 263.653)" x="106.71" y="129.717" width="120.445" height="4.218"></rect>
                                            <polyline id="Rectangle-4-Copy-30" stroke-linejoin="round" transform="rotate(180 164.82 42.712)" points="199.504774 45.3482536 204.967563 45.3482536 204.967563 40.0752009 124.670992 40.0752009 124.670992 45.3482536 195.397389 45.3482536"></polyline>
                                            <g id="Group-19" transform="translate(19.018)" stroke-linejoin="round">
                                                <polyline id="Rectangle-4-Copy-41" transform="rotate(180 52.298 11.6)" points="87.3448441 15.8191582 104.596849 15.8191582 104.596849 7.38227384 0 7.38227384 0 15.8191582 78.9391224 15.8191582"></polyline>
                                                <polyline id="Rectangle-4-Copy-40" points="99.3141798 4.2184422 99.3141798 0 6.33920297 0 6.33920297 4.2184422"></polyline>
                                            </g>
                                            <polyline id="Rectangle-4-Copy-34" stroke-linejoin="round" transform="matrix(-1 0 0 1 207.08 0)" points="108.320612 24.2560426 113.04912 24.2560426 113.04912 20.0376004 94.0315107 20.0376004 94.0315107 24.2560426 102.306965 24.2560426"></polyline>
                                            <polyline id="Rectangle-4-Copy-37" stroke-linejoin="round" points="112.057111 108.624887 115.162187 108.624887 115.162187 106.515665 90.8619092 106.515665 90.8619092 108.624887 108.922224 108.624887"></polyline>
                                            <polyline id="Rectangle-4-Copy-38" stroke-linejoin="round" points="75.6213283 108.624887 83.4661724 108.624887 83.4661724 106.515665 59.1658943 106.515665 59.1658943 108.624887"></polyline>
                                            <polyline id="Rectangle-4-Copy-39" stroke-linejoin="round" points="36.3976941 108.624887 51.7701576 108.624887 51.7701576 106.515665 27.4698795 106.515665 27.4698795 108.624887 32.2232964 108.624887"></polyline>
                                            <path d="M78.1835032,104.814751 L78.1835032,26.0695572" id="Path-3-Copy-39"></path>
                                            <path d="M65.5050973,104.814751 L65.5050973,26.0695572" id="Path-3-Copy-38"></path>
                                            <polyline id="Rectangle-4-Copy-35" stroke-linejoin="round" transform="rotate(180 71.844 22.147)" points="80.0592863 24.2560426 81.3531047 24.2560426 81.3531047 20.0376004 62.3354958 20.0376004 62.3354958 24.2560426 76.469655 24.2560426"></polyline>
                                            <path d="M75.0139018,39.5448055 L75.0139018,24.2560426" id="Path-3-Copy-31"></path>
                                            <path d="M46.4874884,104.814751 L46.4874884,26.0695572" id="Path-3-Copy-41"></path>
                                            <path d="M38.0352178,105.98527 L38.0352178,66.8974914" id="Path-3-Copy-31"></path>
                                            <path d="M33.8090825,106.002245 L33.8090825,26.0695572" id="Path-3-Copy-40"></path>
                                            <polyline id="Rectangle-4-Copy-36" stroke-linejoin="round" transform="rotate(180 40.148 22.147)" points="48.3632715 24.2560426 49.6570899 24.2560426 49.6570899 20.0376004 30.639481 20.0376004 30.639481 24.2560426 44.7736402 24.2560426"></polyline>
                                        </g>
                                        <g id="Group-20" transform="translate(220.816 174.01)">
                                            <g id="Group-16-Copy-5">
                                                <path d="M8.98053753,6.32766329 C13.9403515,6.32766329 17.9610751,4.91116762 17.9610751,3.16383165 C17.9610751,1.41649568 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.41649568 0,3.16383165 C0,3.99628324 0.91257668,4.75364459 2.40451187,5.31852336" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.328)"></path>
                                                <path d="M17.9610751,8.40403994 C17.9610751,8.5845216 17.9610751,8.02118754 17.9610751,6.71403774 C17.9610751,4.75331306 13.9403515,3.16383165 8.98053753,3.16383165 C4.02072361,3.16383165 0,4.75331306 0,6.71403774 C0,7.33677942 0,7.90011348 0,8.40403994" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.6)"></path>
                                            </g>
                                            <g id="Group-16-Copy-4" transform="translate(0 6.328)">
                                                <path d="M17.3188881,4.74574747 C17.7331485,4.38188259 17.9610751,3.98461 17.9610751,3.56858275 C17.9610751,1.82124678 13.9403515,0.404751107 8.98053753,0.404751107 C4.02072361,0.404751107 0,1.82124678 0,3.56858275 C0,3.97547422 0.218026132,4.36442568 0.615166048,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M17.9610751,6.29810328 C17.9610751,6.46053678 17.9610751,5.95353612 17.9610751,4.77710131 C17.9610751,3.01244909 13.9403515,1.58191582 8.98053753,1.58191582 C4.02072361,1.58191582 0,3.01244909 0,4.77710131 C0,5.33756882 0,5.84456948 0,6.29810328" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 7.91)"></path>
                                            </g>
                                        </g>
                                        <g id="Group-20-Copy" transform="translate(241.946 252.052)">
                                            <g id="Group-16-Copy-5">
                                                <path d="M8.98053753,6.32766329 C13.9403515,6.32766329 17.9610751,4.91116762 17.9610751,3.16383165 C17.9610751,1.41649568 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.41649568 0,3.16383165 C0,3.99628324 0.91257668,4.75364459 2.40451187,5.31852336" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.328)"></path>
                                                <path d="M17.9610751,8.40403994 C17.9610751,8.5845216 17.9610751,8.02118754 17.9610751,6.71403774 C17.9610751,4.75331306 13.9403515,3.16383165 8.98053753,3.16383165 C4.02072361,3.16383165 0,4.75331306 0,6.71403774 C0,7.33677942 0,7.90011348 0,8.40403994" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.6)"></path>
                                            </g>
                                            <g id="Group-16-Copy-4" transform="translate(0 6.328)">
                                                <path d="M17.3188881,4.74574747 C17.7331485,4.38188259 17.9610751,3.98461 17.9610751,3.56858275 C17.9610751,1.82124678 13.9403515,0.404751107 8.98053753,0.404751107 C4.02072361,0.404751107 0,1.82124678 0,3.56858275 C0,3.97547422 0.218026132,4.36442568 0.615166048,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M17.9610751,6.29810328 C17.9610751,6.46053678 17.9610751,5.95353612 17.9610751,4.77710131 C17.9610751,3.01244909 13.9403515,1.58191582 8.98053753,1.58191582 C4.02072361,1.58191582 0,3.01244909 0,4.77710131 C0,5.33756882 0,5.84456948 0,6.29810328" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 7.91)"></path>
                                            </g>
                                        </g>
                                        <g id="Group-20-Copy-2" transform="translate(186.545 250.59)">
                                            <g id="Group-16-Copy-5">
                                                <path d="M9.442076,7.12189591 C14.4018899,7.12189591 18.4226135,5.70540023 18.4226135,3.95806426 C18.4226135,2.21072829 14.4018899,0.794232614 9.442076,0.794232614 C4.48226207,0.794232614 0.461538462,2.21072829 0.461538462,3.95806426 C0.461538462,4.79051586 1.37411514,5.54787721 2.86605033,6.11275598" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 7.916)"></path>
                                                <path d="M18.4267474,9.89842285 C18.4239915,9.80505667 18.4226135,9.10479868 18.4226135,7.79764889 C18.4226135,5.83692421 14.4018899,4.2474428 9.442076,4.2474428 C4.48226207,4.2474428 0.461538462,5.83692421 0.461538462,7.79764889 C0.461538462,8.42039057 0.451338379,9.11254657 0.430938214,9.87411688" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 14.146)"></path>
                                            </g>
                                            <g id="Group-16-Copy-4" transform="translate(0 7.79)">
                                                <path d="M17.7804265,4.74574747 C18.194687,4.38188259 18.4226135,3.98461 18.4226135,3.56858275 C18.4226135,1.82124678 14.4018899,0.404751107 9.442076,0.404751107 C4.48226207,0.404751107 0.461538462,1.82124678 0.461538462,3.56858275 C0.461538462,3.97547422 0.679564594,4.36442568 1.07670451,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M18.469559,6.84336484 C18.438262,6.72104312 18.4226135,6.07166485 18.4226135,4.89523004 C18.4226135,3.13057782 14.4018899,1.70004455 9.442076,1.70004455 C4.48226207,1.70004455 0.461538462,3.13057782 0.461538462,4.89523004 C0.461538462,5.45569755 0.448023929,6.1434682 0.420994863,6.958542" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 8.659)"></path>
                                            </g>
                                        </g>
                                        <g id="Group-17" transform="translate(242.598 123.39)">
                                            <g id="Group-16-Copy-3" transform="translate(46.892 8.437)">
                                                <path d="M8.98053753,6.74950751 C13.9403515,6.74950751 17.9610751,5.23857879 17.9610751,3.37475376 C17.9610751,1.51092872 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.51092872 0,3.37475376 C0,4.26270213 0.91257668,5.07055423 2.40451187,5.67309159" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.75)"></path>
                                                <path d="M17.9610751,8.40535371 C17.9610751,8.57861611 17.9610751,8.03781541 17.9610751,6.78295161 C17.9610751,4.90065591 13.9403515,3.37475376 8.98053753,3.37475376 C4.02072361,3.37475376 0,4.90065591 0,6.78295161 C0,7.38078362 0,7.92158432 0,8.40535371" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.812)"></path>
                                            </g>
                                            <g id="Group-16-Copy-5" transform="translate(24.705 4.218)">
                                                <path d="M8.98053753,6.74950751 C13.9403515,6.74950751 17.9610751,5.23857879 17.9610751,3.37475376 C17.9610751,1.51092872 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.51092872 0,3.37475376 C0,4.26270213 0.91257668,5.07055423 2.40451187,5.67309159" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.75)"></path>
                                                <path d="M17.9610751,8.40535371 C17.9610751,8.57861611 17.9610751,8.03781541 17.9610751,6.78295161 C17.9610751,4.90065591 13.9403515,3.37475376 8.98053753,3.37475376 C4.02072361,3.37475376 0,4.90065591 0,6.78295161 C0,7.38078362 0,7.92158432 0,8.40535371" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.812)"></path>
                                            </g>
                                            <g id="Group-16-Copy-4" transform="translate(24.705 10.546)">
                                                <path d="M17.3188881,4.74574747 C17.7331485,4.38188259 17.9610751,3.98461 17.9610751,3.56858275 C17.9610751,1.82124678 13.9403515,0.404751107 8.98053753,0.404751107 C4.02072361,0.404751107 0,1.82124678 0,3.56858275 C0,3.97547422 0.218026132,4.36442568 0.615166048,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M17.9610751,6.29810328 C17.9610751,6.46053678 17.9610751,5.95353612 17.9610751,4.77710131 C17.9610751,3.01244909 13.9403515,1.58191582 8.98053753,1.58191582 C4.02072361,1.58191582 0,3.01244909 0,4.77710131 C0,5.33756882 0,5.84456948 0,6.29810328" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 7.91)"></path>
                                            </g>
                                            <g id="Group-21-Copy" transform="matrix(-1 0 0 1 20.48 0)">
                                                <g id="Group-16" transform="translate(1.057)">
                                                    <path d="M8.98053753,6.74950751 C13.9403515,6.74950751 17.9610751,5.23857879 17.9610751,3.37475376 C17.9610751,1.51092872 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.51092872 0,3.37475376 C0,4.26270213 0.91257668,5.07055423 2.40451187,5.67309159" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.75)"></path>
                                                    <path d="M17.9610751,8.40535371 C17.9610751,8.57861611 17.9610751,8.03781541 17.9610751,6.78295161 C17.9610751,4.90065591 13.9403515,3.37475376 8.98053753,3.37475376 C4.02072361,3.37475376 0,4.90065591 0,6.78295161 C0,7.38078362 0,7.92158432 0,8.40535371" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.812)"></path>
                                                </g>
                                                <g id="Group-16-Copy" transform="translate(0 6.273)">
                                                    <path d="M17.6458634,4.03988543 C17.8513753,3.77421056 17.9610751,3.49461652 17.9610751,3.20599597 C17.9610751,1.45866 13.9403515,0.0421643216 8.98053753,0.0421643216 C4.02072361,0.0421643216 0,1.45866 0,3.20599597 C0,3.61288744 0.218026132,4.00183889 0.615166048,4.35914157 C0.713068815,4.44722367 1.02338563,4.59429582 1.54611648,4.80035802" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 4.843)"></path>
                                                    <path d="M17.9610751,6.35271383 C17.9610751,6.51514733 17.9610751,6.00814667 17.9610751,4.83171186 C17.9610751,3.06705964 13.9403515,1.63652637 8.98053753,1.63652637 C4.02072361,1.63652637 0,3.06705964 0,4.83171186 C0,5.39217937 0,5.89918003 0,6.35271383" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 8.019)"></path>
                                                </g>
                                                <g id="Group-16-Copy-2" transform="translate(1.057 10.491)">
                                                    <path d="M16.4956311,4.80035802 C16.9355381,4.58984337 17.2099571,4.43674636 17.3188881,4.34106699 C17.7331485,3.97720211 17.9610751,3.57992952 17.9610751,3.16390228 C17.9610751,1.41656631 13.9403515,7.06308535e-05 8.98053753,7.06308535e-05 C4.02072361,7.06308535e-05 0,1.41656631 0,3.16390228 C0,3.40964664 0.0795277163,3.64884716 0.230010749,3.8784838" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 4.8)"></path>
                                                    <path d="M17.9610751,6.35271383 C17.9610751,6.51514733 17.9610751,6.00814667 17.9610751,4.83171186 C17.9610751,3.06705964 13.9403515,1.63652637 8.98053753,1.63652637 C4.02072361,1.63652637 0,3.06705964 0,4.83171186 C0,5.39217937 0,5.89918003 0,6.35271383" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 8.019)"></path>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="Group-17-Copy-2" transform="translate(214.476 95.97)">
                                            <g id="Group-16">
                                                <path d="M8.98053753,6.74950751 C13.9403515,6.74950751 17.9610751,5.23857879 17.9610751,3.37475376 C17.9610751,1.51092872 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.51092872 0,3.37475376 C0,4.26270213 0.91257668,5.07055423 2.40451187,5.67309159" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.75)"></path>
                                                <path d="M17.9610751,8.40535371 C17.9610751,8.57861611 17.9610751,8.03781541 17.9610751,6.78295161 C17.9610751,4.90065591 13.9403515,3.37475376 8.98053753,3.37475376 C4.02072361,3.37475376 0,4.90065591 0,6.78295161 C0,7.38078362 0,7.92158432 0,8.40535371" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.812)"></path>
                                            </g>
                                            <g id="Group-16-Copy" transform="translate(0 6.328)">
                                                <path d="M17.3188881,4.74574747 C17.7331485,4.38188259 17.9610751,3.98461 17.9610751,3.56858275 C17.9610751,1.82124678 13.9403515,0.404751107 8.98053753,0.404751107 C4.02072361,0.404751107 0,1.82124678 0,3.56858275 C0,3.97547422 0.218026132,4.36442568 0.615166048,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M17.9610751,6.29810328 C17.9610751,6.46053678 17.9610751,5.95353612 17.9610751,4.77710131 C17.9610751,3.01244909 13.9403515,1.58191582 8.98053753,1.58191582 C4.02072361,1.58191582 0,3.01244909 0,4.77710131 C0,5.33756882 0,5.84456948 0,6.29810328" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 7.91)"></path>
                                            </g>
                                            <g id="Group-16-Copy-5" transform="translate(22.187 4.218)">
                                                <path d="M8.98053753,6.74950751 C13.9403515,6.74950751 17.9610751,5.23857879 17.9610751,3.37475376 C17.9610751,1.51092872 13.9403515,0 8.98053753,0 C4.02072361,0 0,1.51092872 0,3.37475376 C0,4.26270213 0.91257668,5.07055423 2.40451187,5.67309159" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.75)"></path>
                                                <path d="M17.9610751,8.40535371 C17.9610751,8.57861611 17.9610751,8.03781541 17.9610751,6.78295161 C17.9610751,4.90065591 13.9403515,3.37475376 8.98053753,3.37475376 C4.02072361,3.37475376 0,4.90065591 0,6.78295161 C0,7.38078362 0,7.92158432 0,8.40535371" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.812)"></path>
                                            </g>
                                            <g id="Group-16-Copy-4" transform="translate(22.187 10.546)">
                                                <path d="M17.3188881,4.74574747 C17.7331485,4.38188259 17.9610751,3.98461 17.9610751,3.56858275 C17.9610751,1.82124678 13.9403515,0.404751107 8.98053753,0.404751107 C4.02072361,0.404751107 0,1.82124678 0,3.56858275 C0,3.97547422 0.218026132,4.36442568 0.615166048,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M17.9610751,6.29810328 C17.9610751,6.46053678 17.9610751,5.95353612 17.9610751,4.77710131 C17.9610751,3.01244909 13.9403515,1.58191582 8.98053753,1.58191582 C4.02072361,1.58191582 0,3.01244909 0,4.77710131 C0,5.33756882 0,5.84456948 0,6.29810328" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 7.91)"></path>
                                            </g>
                                            <g id="Group-16-Copy-2" transform="translate(0 10.546)">
                                                <path d="M17.3188881,4.74574747 C17.7331485,4.38188259 17.9610751,3.98461 17.9610751,3.56858275 C17.9610751,1.82124678 13.9403515,0.404751107 8.98053753,0.404751107 C4.02072361,0.404751107 0,1.82124678 0,3.56858275 C0,3.97547422 0.218026132,4.36442568 0.615166048,4.72172835" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.15)"></path>
                                                <path d="M17.9610751,6.29810328 C17.9610751,6.46053678 17.9610751,5.95353612 17.9610751,4.77710131 C17.9610751,3.01244909 13.9403515,1.58191582 8.98053753,1.58191582 C4.02072361,1.58191582 0,3.01244909 0,4.77710131 C0,5.33756882 0,5.84456948 0,6.29810328" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 7.91)"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group-38" transform="matrix(-1 0 0 1 206.538 206.077)" stroke-linecap="round">
                                        <g id="Group-37" transform="translate(26.657 5.48)">
                                            <g id="Group-16-Copy-5">
                                                <path d="M9.55621302,7.01538462 C14.8339637,7.01538462 19.112426,5.44493728 19.112426,3.50769231 C19.112426,1.57044734 14.8339637,0 9.55621302,0 C4.2784623,0 0,1.57044734 0,3.50769231 C0,4.43061881 0.971075185,5.27029388 2.55864724,5.89656643" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 7.015)"></path>
                                                <path d="M19.112426,9.86538462 C19.112426,9.31470295 19.112426,8.38721437 19.112426,7.08291888 C19.112426,5.12647565 14.8339637,3.54046504 9.55621302,3.54046504 C4.2784623,3.54046504 0,5.12647565 0,7.08291888 C0,7.70430073 0,8.63178931 0,9.86538462" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 13.406)"></path>
                                            </g>
                                            <g id="Group-16-Copy-4" transform="translate(0 7.673)">
                                                <path d="M18.4290732,4.93269231 C18.8698888,4.55449403 19.112426,4.14157205 19.112426,3.70915663 C19.112426,1.89298947 14.8339637,0.420695093 9.55621302,0.420695093 C4.2784623,0.420695093 0,1.89298947 0,3.70915663 C0,4.1320764 0.232002167,4.53634946 0.654599769,4.90772702" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.353)"></path>
                                                <path d="M19.112426,7.67307692 C19.112426,7.11113978 19.112426,6.2187827 19.112426,4.99600568 C19.112426,3.16184015 14.8339637,1.67495521 9.55621302,1.67495521 C4.2784623,1.67495521 0,3.16184015 0,4.99600568 C0,5.57855117 0,6.47090825 0,7.67307692" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 9.348)"></path>
                                            </g>
                                        </g>
                                        <g id="Group-36" transform="matrix(-1 0 0 1 22.16 0)">
                                            <g id="Group-16" transform="translate(1.124)">
                                                <path d="M9.55621302,7.01538462 C14.8339637,7.01538462 19.112426,5.44493728 19.112426,3.50769231 C19.112426,1.57044734 14.8339637,0 9.55621302,0 C4.2784623,0 0,1.57044734 0,3.50769231 C0,4.43061881 0.971075185,5.27029388 2.55864724,5.89656643" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 7.015)"></path>
                                                <path d="M19.112426,9.86538462 C19.112426,9.31470295 19.112426,8.38721437 19.112426,7.08291888 C19.112426,5.12647565 14.8339637,3.54046504 9.55621302,3.54046504 C4.2784623,3.54046504 0,5.12647565 0,7.08291888 C0,7.70430073 0,8.63178931 0,9.86538462" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 13.406)"></path>
                                            </g>
                                            <g id="Group-16-Copy" transform="translate(0 6.577)">
                                                <path d="M18.8075321,5.08514531 C19.006539,4.82084443 19.112426,4.54363966 19.112426,4.25792444 C19.112426,2.44175728 14.8339637,0.9694629 9.55621302,0.9694629 C4.2784623,0.9694629 0,2.44175728 0,4.25792444 C0,4.6808442 0.173979163,5.6347199 1.30181613,6.02884615" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 6.998)"></path>
                                                <path d="M19.112426,8.76923077 C19.112426,8.20729363 19.112426,7.31493655 19.112426,6.09215953 C19.112426,4.257994 14.8339637,2.77110906 9.55621302,2.77110906 C4.2784623,2.77110906 0,4.257994 0,6.09215953 C0,6.67470501 0,7.56706209 0,8.76923077" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 11.54)"></path>
                                            </g>
                                            <g id="Group-16-Copy-2" transform="translate(1.124 13.058)">
                                                <path d="M17.7811062,5.02884615 C18.9017764,4.76489431 19.112426,3.72539043 19.112426,3.29297501 C19.112426,1.47680786 14.8339637,0.00451347462 9.55621302,0.00451347462 C4.2784623,0.00451347462 0,1.47680786 0,3.29297501 C0,3.5645487 0.0956646413,3.82843353 0.276030151,4.08085669" id="Oval-Copy-3" transform="matrix(1 0 0 -1 0 5.033)"></path>
                                                <path d="M19.112426,7.76923077 C19.112426,7.20729363 19.112426,6.31493655 19.112426,5.09215953 C19.112426,3.257994 14.8339637,1.77110906 9.55621302,1.77110906 C4.2784623,1.77110906 0,3.257994 0,5.09215953 C0,5.67470501 0,6.56706209 0,7.76923077" id="Oval-Copy-13" transform="matrix(1 0 0 -1 0 9.54)"></path>
                                            </g>
                                        </g>
                                    </g>
                                    <g id="Group-21-Copy-4" transform="scale(-1 1) rotate(22 -774.533 -306.551)">
                                        <path d="M10.7516336,8.95989011 C8.57578839,12.6872215 7.54363357,16.1273037 7.65516916,19.2801367 C7.76670476,22.4329697 9.73369609,24.1413466 13.5561431,24.4052675 C22.0883159,24.3518025 25.946106,22.2174076 25.1295132,18.002083 C24.3129205,13.7867583 22.1379763,10.772694 18.6046808,8.95989011 L21.4365235,2.80630903 L18.7232492,4.20070572 C18.0701397,4.53634951 17.2886861,4.50402958 16.6655233,4.11560077 L16.6655233,4.11560077 C16.0508615,3.7324708 15.2714701,3.73363486 14.6579556,4.11859918 L13.611355,4.77531361 C12.960646,5.18361644 12.1449736,5.22606899 11.4553941,4.88752291 L8.53403763,3.45329559 L10.7516336,8.95989011 Z" id="Path-6" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <g id="Group" transform="scale(-1 1) rotate(10 -88.642 -108.464)">
                                            <circle id="Oval-Copy-3" cx="2.917" cy="2.917" r="2.917"></circle>
                                            <path d="M4.0558849,2.20123445 L4.29875949,2.42945764 C4.98766652,3.07680636 5.02869662,4.1575169 4.39085628,4.85523672 L4.28390769,4.97222547 C3.69411851,5.61738316 3.69718589,6.60689006 4.29096356,7.2483788" id="Path-9" stroke-linecap="square" transform="rotate(110 4.344 4.725)"></path>
                                        </g>
                                        <path d="M9.19534484,2.85053666 C7.78379953,3.70326104 6.46663926,3.90494626 5.24386403,3.45559232 C4.0210888,3.00623838 3.09099198,3.69606204 2.45357355,5.52506329 L5.65772208,10.6730366 C3.99544667,13.1209222 2.91404267,16.3155853 2.41351007,20.2570261 C1.91297748,24.1984669 4.47512419,25.8167743 10.0999502,25.1119484" id="Path-6-Copy" stroke-linecap="round" stroke-linejoin="round" transform="rotate(-10 6.226 14.061)"></path>
                                        <path d="M10.8837943,9.01996314 C13.1215148,10.5087731 15.1466768,10.8631039 16.9592804,10.0829555" id="Path-7" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M5.15715347,10.7894969 C5.89157187,11.2345504 6.78877121,11.2805281 7.84875148,10.92743" id="Path-7-Copy-3" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M1.18345276,6.40662145 C1.61801981,6.69169729 2.62093204,6.83247083 4.19218946,6.82894206 L4.19218945,6.82893729 C4.37808271,6.8285198 4.56329083,6.85147775 4.74345593,6.89727092 L5.67823133,7.13486597 C6.37797369,7.31272188 7.12049399,7.13879939 7.66846153,6.66868911 L9.19462411,5.35936937" id="Path-7-Copy-2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M8.49534412,3.34944751 C8.31595352,1.70814004 9.32290389,1.14513147 11.5161952,1.66042181 C14.8061322,2.43335731 15.4416542,-0.486773802 18.1961652,1.06621126" id="Path-7-Copy" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                    <path d="M105.37054,350.130702 L91.2487546,350.130702" id="Path-3-Copy-27" stroke-linecap="round"></path>
                                    <path d="M286.037824,350.130702 L257.794254,350.130702" id="Path-3-Copy-58" stroke-linecap="round"></path>
                                    <path d="M242.474513,350.130702 L207.76821,350.130702" id="Path-3-Copy-57" stroke-linecap="round"></path>
                                    <path d="M191.07331,350.130702 L138.412218,350.130702" id="Path-3-Copy-61" stroke-linecap="round"></path>
                                    <path d="M149.664892,354.349144 L80.2965709,354.349144" id="Path-3-Copy-32" stroke-linecap="round"></path>
                                    <path d="M309.470871,354.349144 L156.367006,354.349144" id="Path-3-Copy-56" stroke-linecap="round"></path>
                                    <g id="Group-22" transform="translate(235.55 266.816)" stroke-linecap="round">
                                        <path d="M10.4844041,77.8576921 L8.6509483,60.2992976" id="Path-3-Copy-30"></path>
                                        <polygon id="Path-3-Copy-54" stroke-linejoin="round" points="10.4844041 77.8576921 14.2104497 78.9929121 15.0586141 83.4917499 15.9409874 84.7438971 13.2126957 84.7438971 10.4844041 81.3007946"></polygon>
                                        <path d="M14.1657763,78.7085919 L14.1657763,59.4849241" id="Path-3-Copy-48"></path>
                                        <polyline id="Path-3-Copy-51" stroke-linejoin="round" points="9.92947818 6.90804281 10.8015155 2.51182578 10.1563149 0.57440722 7.92673271 2.16532653 7.92673271 5.54417378"></polyline>
                                        <polygon id="Path-3-Copy-53" stroke-linejoin="round" points="10.6494977 28.7557556 13.0734512 27.3388037 11.4862822 39.7188777 14.8137766 31.1370005 16.5194705 33.8115928 18.9780555 19.1630939 18.3354505 14.6939252 13.6811514 11.4588935 11.4862822 16.1186006 12.2184184 22.2568354"></polygon>
                                        <polyline id="Path-3-Copy-52" stroke-linejoin="round" points="20.6496524 6.57979953 19.803622 3.71763921 18.8026809 6.85802309 19.803622 8.61138333"></polyline>
                                        <path d="M18.2449713,76.1366285 L21.1872104,52.7305275" id="Path-3-Copy-49"></path>
                                        <polyline id="Path-3-Copy-55" stroke-linejoin="round" points="16.0266231 84.7347272 18.2449713 84.7347272 17.3350634 80.8864983 18.2449713 76.1366285 14.685638 76.7000778"></polyline>
                                        <path d="M23.3791606,53.8850246 L25.6879027,56.4628744 C26.0767989,56.8971005 26.7447135,56.9344215 27.1797315,56.5462332 C27.4715466,56.285832 27.5952197,55.8857295 27.5011241,55.506476 L21.1872104,30.0581473 L24.6766123,16.3239493 L21.1872104,6.27984666 L19.6666933,9.09642852 L21.1872104,16.3239493 L18.3539379,22.6307764 M11.7781452,22.6702282 L9.86456878,16.2056581 L9.57587167,11.4800244 L10.2899327,7.21234604 L6.67479606,5.2154962 L5.36481399,10.5095159 L5.01645641,17.3098003 L7.45762525,34.604836 L0.0535976527,61.0357195 L21.1872104,52.7305275" id="Path-3-Copy-50" stroke-linejoin="round"></path>
                                    </g>
                                    <g id="Group-22-Copy" transform="matrix(-1 0 0 1 212.363 263.653)" stroke-linecap="round">
                                        <polyline id="Path-3-Copy-30" stroke-linejoin="round" points="10.7706239 81.9149132 4.71234897 80.3313527 4.71234897 53.4880275"></polyline>
                                        <polygon id="Path-3-Copy-54" stroke-linejoin="round" points="6.22442099 80.7752696 11.0063452 82.0288468 11.8324788 86.6555816 12.7148521 87.9077288 8.95669398 87.9077288 6.22442099 84.4646263"></polygon>
                                        <path d="M10.939641,81.8724236 L10.0912004,58.974481" id="Path-3-Copy-48"></path>
                                        <polyline id="Path-3-Copy-51" stroke-linejoin="round" points="6.31728508 7.63774141 7.5753802 3.56643633 6.74108911 0.920526789 4.7005974 3.21993708 3.98520037 6.5122866"></polyline>
                                        <path d="M7.09848993,27.7303791 L10.1502989,24.8537892" id="Path-3-Copy-60" stroke-linejoin="round"></path>
                                        <polygon id="Path-3-Copy-53" stroke-linejoin="round" points="13.5237417 25.3106532 17.1787849 23.1205975 18.6089509 19.085702 18.2864817 15.2093544 15.2532927 16.1878644 17.1787849 13.5681146 11.620046 13.5681146 9.31668068 18.4581588 10.0850076 24.8998169"></polygon>
                                        <polyline id="Path-3-Copy-52" stroke-linejoin="round" points="35.4403925 37.9154699 39.6278585 36.6838153 41.2228282 34.132343 35.9714423 35.2118236"></polyline>
                                        <polyline id="Path-3-Copy-49" stroke-linejoin="round" points="10.8730949 80.7080388 16.671142 80.7080388 17.3480655 67.6864611 17.9610751 55.8943591"></polyline>
                                        <polyline id="Path-3-Copy-55" stroke-linejoin="round" points="11.8278447 86.6972247 18.6884624 86.6972247 15.4014206 83.8108725 15.4014206 80.9245203 11.3582889 80.9245203"></polyline>
                                        <path d="M18.0539021,53.6855882 L19.4986835,52.0508795 L19.4986835,38.8869206 L25.8850788,40.726841 L34.9142897,38.8869206 L36.1597196,34.6434029 L25.8850788,36.0095927 L16.6223252,27.7680937 M7.49547611,26.8886704 L5.58189964,19.3694898 L5.29320253,14.6438561 L7.06379738,8.26695659 L3.44866075,6.27010675 L1.08214485,13.6733476 L0.733787268,20.473632 L3.15535833,34.8382623 L4.16805405,52.8917842 L15.4807853,55.2751687" id="Path-3-Copy-50" stroke-linejoin="round"></path>
                                    </g>
                                    <g id="Group-22-Copy-2" transform="translate(109.88 275.253)" stroke-linecap="round">
                                        <polyline id="Path-3-Copy-30" stroke-linejoin="round" points="12.5236826 58.757115 6.54448864 70.3141971 0.486213657 68.7306366 4.70661067 57.2991824 1.45726398 48.7503089 2.12936239 38.5376377"></polyline>
                                        <polygon id="Path-3-Copy-54" stroke-linejoin="round" points="1.99828568 69.1745535 6.78020986 70.4281308 7.60634348 75.0548655 8.48871676 76.3070127 4.73055867 76.3070127 1.99828568 72.8639102"></polygon>
                                        <path d="M16.8061241,57.3965619 L8.00159384,49.1563156" id="Path-3-Copy-48"></path>
                                        <polyline id="Path-3-Copy-51" stroke-linejoin="round" points="26.647956 24.192744 30.0506833 24.192744 37.8181717 20.6457135 36.258767 18.2807888 29.2341812 20.1557055 19.6729129 18.6906742"></polyline>
                                        <polyline id="Path-3-Copy-60" stroke-linejoin="round" points="16.3338605 13.0359747 18.7960936 14.5183433 20.256664 13.5250142 21.813212 10.5657864 22.7522082 9.43560032 21.7457563 3.63617779"></polyline>
                                        <polyline id="Path-3-Copy-53" stroke-linejoin="round" points="17.6757604 5.55949206 20.5661926 5.29523523 20.7883099 3.55122772 23.363626 2.99280094 21.0429939 1.09096051 14.9817712 0 10.8754127 4.78640431 11.1958297 10.4333555 12.6261992 9.93240061"></polyline>
                                        <polyline id="Path-3-Copy-52" stroke-linejoin="round" points="39.5751992 29.9713466 44.3357514 29.9713466 47.6881642 27.6646175 40.1482854 26.9219024"></polyline>
                                        <polyline id="Path-3-Copy-62" stroke-linejoin="round" points="37.8336538 19.9659789 43.1749781 18.6980445 39.6245754 17.0951168 36.6620161 18.3863509"></polyline>
                                        <polyline id="Path-3-Copy-49" stroke-linejoin="round" points="15.5408949 56.6054105 15.5408949 68.561575 22.8582895 70.3993934 25.0721399 54.7208661 14.653862 41.7532467"></polyline>
                                        <polyline id="Path-3-Copy-55" stroke-linejoin="round" points="17.0406066 76.4316112 23.1781809 76.4316112 20.5959976 73.2849615 20.5959976 70.1383119"></polyline>
                                        <path d="M15.9408344,38.9210405 L17.3856158,37.2863318 L19.5614873,28.615795 L29.0546803,31.235346 L39.140425,30.4500362 L40.3858549,26.2065185 L29.0546803,26.5180978 L17.678859,17.2219883 M11.6598589,10.4943183 L3.87348799,29.0423102 L1.26925339,38.0936806 L13.3677177,40.510621" id="Path-3-Copy-50" stroke-linejoin="round"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <svg class="play" width="75" height="75" viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg">
                            <g id="Full-page" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                <g id="Artboard-6" stroke-width="2">
                                    <g id="Group-11" transform="translate(-8 -7)">
                                        <path d="M45,80 C64.3299662,80 80,64.3299662 80,45 C80,25.6700338 64.3299662,10 45,10 C25.6700338,10 10,25.6700338 10,45 C10,59.2445148 18.5094808,71.5015339 30.722303,76.9649178" id="Oval-4" stroke="#000" transform="rotate(110 45 45)"></path>
                                        <path d="M30.722303,76.9649178 C18.5094808,71.5015339 10,59.2445148 10,45 C10,25.6700338 25.6700338,10 45,10 C64.3299662,10 80,25.6700338 80,45 C80,64.3299662 64.3299662,80 45,80" id="Oval-4-Copy" stroke="#000" transform="rotate(110 45 45)"></path>
                                        <path d="M42.8780081,38.8500235 L44.0571597,36.9775916 C44.9400679,35.575579 46.7923621,35.1547618 48.1943746,36.0376699 C48.5883566,36.2857774 48.9191826,36.6221814 49.1606686,37.0202562 L56.3271866,48.8338204 C57.1865317,50.250398 56.7348056,52.0953978 55.318228,52.9547429 C54.8491117,53.2393252 54.3109328,53.3898024 53.762246,53.3898024 L39.5246045,53.3898024 C37.8677502,53.3898024 36.5246045,52.0466566 36.5246045,50.3898024 C36.5246045,49.8411156 36.6750817,49.3029367 36.9596639,48.8338204 L40.5934912,42.8436797" id="Triangle" stroke="#2C2732" transform="rotate(90 46.644 45)"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </article>
                </div>
            </article>
            <article><a class="card Info-block" aria-current="false" href="/knowledge/economic-model"><span class="label">Conheça o modelo econômico da Initiative Q e como calcular o valor de sua moeda</span><span type="arrow-right" class="Icon icon-arrow-right"></span></a><a class="card Info-block" aria-current="false" href="/knowledge/payment-network"><span class="label">Aprenda porque a nova rede de pagamento da Initiative Q superará os sistemas existentes</span><span type="arrow-right" class="Icon icon-arrow-right"></span></a><a class="card Info-block" aria-current="false" href="/FAQ"><span class="label">Leia as nossas perguntas frequentes</span><span type="arrow-right" class="Icon icon-arrow-right"></span></a></article>
        </div>
    </section>
</article>