@page
@model com.initiativec.webpages.Pages.LoginModel
@{
}


<article class="Login">
    <div class="Form">
        <section class="column article-section centered">
            <h2 class="WordWrapper bottom-closer active"><span><span>L</span><span>o</span><span>g</span><span>i</span><span>n</span></span></h2>
            <div class="ActiveWayPoint animateByClass active"></div>
        </section>
        <form>
            @* <article class="ActiveWayPoint form-block SignUp-form animateByClass active">
                <div class="InputWrapper">
                    <article>
                        <input type="email" value="">
                        <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        <label>E-mail</label>
                    </article>
                </div>
                <div class="InputWrapper">
                    <article>
                        <input type="password" value="">
                        <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        <label>Senha</label>
                    </article>
                </div>
                <button type="submit" class="Button shadow btn Button-fat Button-primary"><span class="label">Login</span></button>
            </article>
            <div class="ActiveWayPoint or animateByClass active"><span>Ou</span></div> *@
            <article class="ActiveWayPoint form-block animateByClass active">
                <div class="Button shadow btn Button-google Button-fat"><span class="label">Login com o Google</span></div>
                <div class="Button shadow btn Button-facebook Button-fat"><span class="label">Login com o Facebook</span></div>
                <div class="Button shadow btn Button-twitter Button-fat"><span class="label">Login com o Twitter</span></div>
            </article>
        </form>
        <p class="flip"><span>Não é membro? <a aria-current="false" href="#sign-up">Cadastrar-se</a></span><span>Esqueceu a senha? <a aria-current="false" href="/forgot_pass">Clique aqui </a></span></p>
    </div>
    <img alt="" class="safe" src="~/media/safe-open.133cedd1.svg">
    @await Html.PartialAsync("_howtoContent", Model.HowToContentModel)
</article>