@page
@model com.initiativec.webpages.Pages.testeModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Cardano HTML DApp</title>

    <link rel="stylesheet" href="cardano-connect-with-wallet/cardano-connect.css">


    <script src="https://cardano-foundation.github.io/cardano-connect-with-wallet/bundle-latest/index.js"></script>
    <script src="https://fabianbormann.github.io/cardano-peer-connect/latest/index.js"></script>
    <script src="cardano-connect-with-wallet/cardano-connect.js"></script>
    
    
    
    <script>
        const gettingStarted = ``;

        window.onload = () => {
            const container = document.getElementById('cardano-connect-container');
            
            // create a CardanoConnectWallet button with peer connect
            new CardanoConnectWallet(container, {
                label: 'Connect Wallet',
                message: 'Augusta Ada King, Countess of Lovelace',
                peerConnectEnabled: true
            });

            document.querySelectorAll('div.code').forEach(element => {
                hljs.highlightElement(element);
            });
        }
    </script>
</head>

<body>
    <div id="cardano-connect-container"></div>
</body>

</html>