@page
@model com.initiativec.webpages.Pages.TokenomicsModel
@{
}


<article class="Hero">
    <section>
        <h1 class="WordWrapper active">
            <span><span>T</span><span>o</span><span>k</span><span>e</span><span>n</span><span>o</span><span>m</span><span>i</span><span>c</span><span>s</span></span>
        </h1>
        <div class="SvgAnimation">
            <div>

                <img src="~/media/tokenomics.png" width="222px" height="222px" />

            </div>
        </div>
        <h1 class="WordWrapper active">
            <span>50,000,000,000</span>
        </h1>
    </section>
</article>
<section class="animateIn column article-section">

    <article class="two-columns side-title">

        <section>
            <h2 class="bottom-closer">Como F está<br> distribuido?</h2>
            @* <div class="author">Em coautoria com <a href="https://web.archive.org/web/20181106174256/https://www.wikiwand.com/en/Lawrence_H._White" target="_blank" rel="noopener noreferrer" class="underlined">Prof. Lawrence H. White</a>, especialista em teoria monetária</div> *@
        </section>
        <div class="pole wide">
            <ul>
                <li>
                    <span>
                        <img src="~/media/check_1.png" style="width: 25px;" /><b> 50% - Presale holders:</b>
                        50% of the token supply is being distributed amongst presale participants. Presale was open to the public with no prior qualifications. This will be based on a snapshot of funds sent, and airdropped via a third party distribution service. The SNEK early contributors did not benefit at all from this sale.
                    </span>
                </li>

                <li>
                    <span>
                        <img src="~/media/check_2.png" style="width: 25px;" /><b> 40% - Initial liquidity</b>
                        40% of the token supply has been allocated towards initial liquidity distribution, this is being used in SundaeSwap and Minswap. LP tokens are being stored in a multisig wallet for safety.
                    </span>
                </li>

                <li>
                    <span>
                        <img src="~/media/check_4.png" style="width: 25px;" /><b> 5% - Utility</b>
                        5% of the token supply is being used towards the SNEK ecosystem, DeFi applications, partnerships and project developments.buted within the first month.
                    </span>
                </li>

                <li>
                    <span>
                        <img src="~/media/check_5.png" style="width: 25px;" /><b> 3% - Marketing</b>
                        3% of the token supply is being used for marketing promotions, community airdrops, contests, events, further giveaways and incentives for the promotion of SNEK. 1% was distributed within the first month.
                    </span>
                </li>

                <li>
                    <span>
                        <img src="~/media/check_3.png" style="width: 25px;" /><b> 2% - Reserve</b>
                        2% of the token supply is reserved for exchange listings, additional liquidity and expansion opportunities.
                    </span>
                </li>

            </ul>
        </div>
    </article>
</section>
<img class="divider big" src="~/media/divider-flipped.a6819e99.svg" alt="divider-flipped">